.gradle
.DS_Store

syntax: glob
*.class
*.apk
*.dex
*.ap_
*.suo

test/
monkey/
*/.directory/

.idea/workspace.xml 
.idea/tasks.xml
.idea/ant.xml
.idea/codeStyleSettings.xml
.idea/dictionaries/arcturus.xml
.idea/libraries/adwired.xml

local.properties

syntax: regexp
^(.*[\\/])?gen[\\/].*
^(.*[\\/])?bin[\\/].*
^(.*[\\/])?out[\\/].*
^(.*[\\/])?obj[\\/].*
^(.*[\\/])?log[\\/].*
^(.*[\\/])?obf[\\/].*
^(.*[\\/])?jars[\\/].*
^(.*[\\/])?jar-sources[\\/].*
^(.*[\\/])?javadoc[\\/].*
^(.*[\\/])?\.svn[\\/].*
^(.*[\\/])?\.metadata[\\/].*
^(.*[\\/])?\.settings[\\/].*

^.*\.[^\\/]*\.sw[opqnm]$
